#main-container
{
    min-height: 80vh;
    background-color: #202025;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 20px;
}

#middle-items
{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 75%;
}

#index-top-animation
{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 30vh;
    width: 100%;
}

#animation-static
{
    background-image: url(../img/compass_logo_animation_static.png);
}

#animation-rotating1
{
    background-image: url(../img/compass_logo_animation_rotating1.png);
    -webkit-animation:spin 40s linear infinite;
    -moz-animation:spin 40s linear infinite;
    animation:spin 40s linear infinite;
    animation-direction: reverse;
}

#animation-rotating2
{
    background-image: url(../img/compass_logo_animation_rotating2.png);
    -webkit-animation:spin 20s linear infinite;
    -moz-animation:spin 20s linear infinite;
    animation:spin 20s linear infinite;
}

.index-animation
{
    height: 25vh;
    width: 25vh;
    background-size: cover;
    background-repeat: no-repeat;
    background-position-x: center;
    background-position-y: center;
}

@-moz-keyframes spin { 
    100% { -moz-transform: rotate(360deg); } 
}
@-webkit-keyframes spin { 
    100% { -webkit-transform: rotate(360deg); } 
}
@keyframes spin { 
    100% { 
        -webkit-transform: rotate(360deg); 
        transform:rotate(360deg); 
    } 
}

.animation-visible
{
    animation: animacja1 500ms;
}

.animation-invisible
{
    animation: animacja2 500ms;
}

@keyframes animacja1
{
    0%{opacity: 0;}
    100%{opacity: 1;}
}

@keyframes animacja2
{
    0%{opacity: 1;}
    100%{opacity: 0;}
}