#main-container
{
    min-height: 80vh;
    background-color: #202025;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 20px;
}

#middle-items
{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 75%;
    animation: hello 2s;
}

#index-top-animation
{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 30vh;
    width: 100%;
}

#animation-static
{
    background-image: url(../img/compass_logo_animation_static.png);
}

#animation-rotating1
{
    background-image: url(../img/compass_logo_animation_rotating1.png);
    -webkit-animation:spin 40s linear infinite;
    -moz-animation:spin 40s linear infinite;
    animation:spin 40s linear infinite;
    animation-direction: reverse;
}

#animation-rotating2
{
    background-image: url(../img/compass_logo_animation_rotating2.png);
    -webkit-animation:spin 20s linear infinite;
    -moz-animation:spin 20s linear infinite;
    animation:spin 20s linear infinite;
}

.index-animation
{
    height: 25vh;
    width: 25vh;
    background-size: cover;
    background-repeat: no-repeat;
    background-position-x: center;
    background-position-y: center;
}

@-moz-keyframes spin { 
    100% { -moz-transform: rotate(360deg); } 
}
@-webkit-keyframes spin { 
    100% { -webkit-transform: rotate(360deg); } 
}
@keyframes spin { 
    100% { 
        -webkit-transform: rotate(360deg); 
        transform:rotate(360deg); 
    } 
}

.animation-visible
{
    animation: animacja1 500ms;
}

.animation-invisible
{
    animation: animacja2 500ms;
}

@keyframes animacja1
{
    0%{opacity: 0;}
    100%{opacity: 1;}
}

@keyframes animacja2
{
    0%{opacity: 1;}
    100%{opacity: 0;}
}

h1 
{
    font-family: Dongle;
    font-size: 4rem;
    text-align: center;
}

.main-content
{
    width: 80%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: #7c7c7c;
    border-radius: 50px;
    min-width: 800px;
    margin-bottom: 20px;
    -webkit-box-shadow: 0px 4px 11px -3px rgba(0, 0, 0, 1);
    -moz-box-shadow: 0px 4px 11px -3px rgba(0, 0, 0, 1);
    box-shadow: 0px 4px 11px -3px rgba(0, 0, 0, 1);
}

.main-content h1 
{
    background-color: #000005;
    margin: 0;
    border-radius: 50px 50px 0px 0px;
    padding: 10px;
}

#index-p
{
    margin-right: 40px;
    margin-left: 40px;
    font-size: 1.5rem;
}

#take-test-button
{
    text-align: center;
    font-size: 2rem;
    font-weight: bold;
    background-color: #21a152;
    padding: 20px;
    border-radius: 0px 0px 50px 50px;
    letter-spacing: 3px;
}

#take-test-button:hover 
{
    animation: take-test-button-animation 5s infinite;
}

@keyframes take-test-button-animation
{
    0%{background-color: #21a152;}
    50%{background-color: #2cd16b;}
    100%{background-color: #21a152;}
}

@keyframes hello
{
    0% {opacity: 0;}
    100% {opacity: 1;}
}