body 
{
    margin: 0;
    background-color: #202025;
}

#container
{
    display: flex;
    flex-direction: column;
}

#header-container
{
    background-color: #000005;
    display: flex;
    flex-direction: row;
}

.header-half
{
    width: 50%;
    min-height: 10vh;
}