body 
{
    margin: 0;
    background-color: #202025;
    font-family: Lato;
    color: white;
}

#container
{
    display: flex;
    flex-direction: column;
}

#placeholder
{
    width: 100%;
}

#header-container
{
    background-color: #000005;
    display: flex;
    flex-direction: row;
    position: absolute;
    top: 0;
    width: 100%;
}


#header-logo
{
    font-family: Dongle;
    font-size: larger;
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-left: 20px;
    width: 25%;
}

#header-menu
{
    width: 75%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    font-size: 24px;
    font-weight: 700;
    letter-spacing: 4px;
}

#header-menu a 
{
    text-decoration: none;
    color: white;
    position: relative;
    padding: 10px;
}

#header-menu a:after, .mobile-menu-item a:after {    
    background: none repeat scroll 0 0 transparent;
    bottom: 0;
    content: "";
    display: block;
    height: 2px;
    left: 50%;
    position: absolute;
    background: #fff;
    transition: width 0.3s ease 0s, left 0.3s ease 0s;
    width: 0;
  }
  #header-menu  a:hover:after, .mobile-menu-item a:hover:after { 
    width: 100%; 
    left: 0; 
  }

#header-menu select 
{
    background-color: #202025;
    outline: none;
    border: 0;
    border-radius: 5px;
    color: white;
    padding: 5px;
}

#mobile-menu
{
    font-size: 50px;
    padding: 10px;
    border-radius: 100px;
}




#mobile-menu-container
{
    width: 100%;
    position: fixed;
    top: 150px;
    background-color: #000005;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.mobile-menu-item
{
    width: 100%;
    min-height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.mobile-menu-item a
{
    color: white;
    text-decoration: none;
    position: relative;
    font-size: 36px;
    font-weight: 700;
    letter-spacing: 4px;
    padding: 5px;
}

.mobile-menu-languages
{
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.mobile-menu-languages button 
{
    height: 60px;
    width: 60px;
    border-radius: 100px;
    outline: none;
    border: 3px solid white;
    background-size: cover;
    background-repeat: no-repeat;
    background-position-x: center;
    background-position-y: center;
}

.mobile-menu-languages button:hover
{
    -webkit-filter: brightness(0.7);
}

#english{background-image: url("flag_en.png");}
#polish{background-image: url("flag_pl.png");}
#german{background-image: url("flag_de.png");}

